{%extends 'layout/master_manage.html'%}
{%block content%}

<form method="POST">
    {{form.hidden_tag()}}
    <div class="container">
        <div class="form-row">
            <label class="form-group col" for="so_luong_nhap">Từ</label>
            {{form.tu_ngay(class="form-group form-control col")}}

            <label class="form-group col" for="so_luong_nhap">Đến</label>
            {{form.den_ngay(class="form-group form-control col")}}
            <div class="form-group col">
                {{form.submit_2(class="btn btn-secondary")}}
            </div>

        </div>

    </div>
</form>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <b>{{tieu_de}}</b>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 text-left">
            <b>Tổng doanh thu:</b>

        </div>
        <div class="col-md-8 text-left">
            {{"{:,}".format(tong_thu)}} VND
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-left">
            <b>Tổng chi phí:</b>

        </div>
        <div class="col-md-8 text-left">
            {{"{:,}".format(tong_chi_phi)}} VND
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-left">
            <b>Tổng tiền hàng:</b>

        </div>
        <div class="col-md-8 text-left">
            {{"{:,}".format(tong_tien_hang)}} VND
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-left">
            <b>Vốn bị động:</b>

        </div>
        <div class="col-md-8 text-left">
            {{"{:,}".format(von.so_tien)}} VND
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 text-left">
            <b>Tổng lợi nhuận:</b> 

        </div>
        <div class="col-md-8 text-left">
            {{"{:,}".format(tong_loi_nhuan)}} VND
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-left">
            <b>Thực thu:</b> 

        </div>
        <div class="col-md-8 text-left">
            {{"{:,}".format(thuc_thu - tong_chi_phi)}} VND
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 text-left">
            <b>Số đơn hoàn:</b>
        </div>
        <div class="col-md-8 text-left">
            {{so_don_hoan}}
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-md-4 text-left">
            <b>(Chi phí + Thực thu)/Doanh thu:</b>
        </div>
        <div class="col-md-8 text-left">
            {{lst_temp[0]}}
        </div>

    </div>
    <div class="row">
        <div class="col-md-4 text-left">
            <b>Thực thu/Doanh thu:</b>
        </div>
        <div class="col-md-8 text-left">
            {{lst_temp[1]}}
        </div>

    </div>
    <div class="row">
        <div class="col-md-4 text-left">
            <b>Thực thu/Vốn bị động:</b>
        </div>
        <div class="col-md-8 text-left">
            {{lst_temp[2]}}
        </div>

    </div>
    
   
</div>
{%endblock%}